{
  "env": {
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "> 5%", "ie >= 10"],
            "node": "current"
          }
        }],
        "stage-2", "react"
      ],
      "plugins": [
        ["emotion", {
          "hoist": true
        }],
        "transform-export-extensions",
        "transform-runtime"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "> 5%", "ie >= 10"],
            "node": "current"
          }
        }],
        "stage-2", "react"
      ],
      "plugins": [
        ["emotion", {
          "sourceMap": true,
          "autoLabel": true
        }],
        "transform-export-extensions",
        "transform-runtime"
      ]
    }
  }
}
