{
  "extends": [
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "jest/no-identical-title": "error",
    "jest/no-focused-tests": "error",
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none",
      "ignoreRestSiblings": true
    }],
    "no-unused-expressions": "off",
    "react/prop-types": [2, {
      "skipUndeclared": true
    }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}
